/// /// //
/// Master styling for believers.
//
/// @param {%} $w width
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
//
/// @example
/// body > $pillar {
///   @include all_are_judged(40%, 4px, 3%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    box-sizing: border-box;
/// ///    display: inline-block;
/// ///    margin-left: 0 0 4px !important;
/// ///    margin-right: 0 0 4px !important;
/// ///    padding: 4px 3%;
/// ///    width: 40% !important;
/// /// }
/// //
@mixin all_are_judged($w, $pv, $ph) {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: $pv $ph;
  width: $w !important;
  /// Trust god to deal with padding, width and margin.
}
