/// /// //
/// Convert a pillar to a toolbar. Toolbars are created by js.
//
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
//
/// @example
/// body > $pillar {
///   @include pillar_toolbar(4px, 3%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    max-height: 32px;
/// ///    text-align: right;
/// ///    padding-right: 3%;
/// ///    padding-top: 4px;
/// ///    font-size: 100%;
/// ///    margin-bottom: 0;
/// /// }
/// //
@mixin pillar_toolbar($ph, $pv) {
  font-size: 100%;
  margin-bottom: 0;
  max-height: 32px;
  padding: $ph $pv;
  text-align: right;
}
