/// /// //
/// Padding style to contain a pillar.
//
/// Apply vertical padding as the margin between tags, and horizontal padding
/// to pad between the pillar and the believers.
//
/// @param {UNIT} $pv padding-top padding-bottom
/// @param {%} $ph padding-left padding-right
//
/// @example
/// body > $pillar {
///   @include pillar_border(false, green solid 1px);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    border-right: green solid 1px;
/// /// }
/// //
@mixin pillar_border($bl: false, $br: false) {
  @if not no_means_no($bl) {
    border-left: $bl;
  }
  @if not no_means_no($br) {
    border-right: $br;
  }
}
