/// /// //
/// Style a toolbar for any believer. Toolbars are created by js.
//
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
//
/// @example
/// body > $hell {
///   @include sinner_toolbar(4px, 3%);
/// }
//
/// /// body > nav,
/// /// body > menu, {
/// ///   font-size: 100%;
/// ///   margin-bottom: 0;
/// ///   max-height: 36px;
/// ///   max-width: 36px;
/// ///   padding: 4px 3%;
/// ///   text-align: center;
/// /// }
/// //
@mixin sinner_toolbar($pv, $ph) {
  font-size: 100%;
  margin-bottom: 0;
  max-height: 36px;
  max-width: 36px;
  padding: $pv $ph;
  text-align: center;
}
