@import "../../stylesheets/functions/strip_unit";
@include test("@function strip_unit ") {
  @include test("0 means 0.") {
    @include assert-equal(strip_unit(0), 0, "");
    @include assert-equal(strip_unit(0px), 0, "");
    @include assert-equal(strip_unit(0pt), 0, "");
    @include assert-equal(strip_unit(0%), 0, "");
  }
  @include test("1 means 1.") {
    @include assert-equal(strip_unit(1), 1, "");
    @include assert-equal(strip_unit(1%), 1, "");
    @include assert-equal(strip_unit(1px), 1, "");
    @include assert-equal(strip_unit(1pt), 1, "");
    @include assert-equal(strip_unit(1em), 1, "");
  }
}
