@import "../../stylesheets/mixins/all_are_judged";
@import "../../stylesheets/mixins/forgive_sinner";

@include test("@mixin forgive_sinner()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include forgive_sinner(40%, 4px, 3%);
    }

    @include expect {
      box-sizing: border-box;
      display: inline-block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 4px 3%;
      width: 40% !important;
      break-before: always !important; /* give way on right */
      clear: right;
      float: right;
      margin-left: 3% !important;
    }
  }
}
