@import "../../stylesheets/mixins/media_widths";
$god-loose: 1200px;
$god-cosy: 900px;
$god-tight: 600px;
@include test("@mixin media_widths()") {
  @include assert("tight media width.") {
    @include output {
      @include tight {
        color: red;
      }
    }
    @include expect {
      @media screen and (max-width: 600px) {
        color: red;
      }
    }
  }
  @include assert("cosy media width.") {
    @include output {
      @include cosy {
        color: green;
      }
    }
    @include expect {
      @media screen and (min-width: 601px) and (max-width: 900px) {
        color: green;
      }
    }
  }
  @include assert("loose media width.") {
    @include output {
      @include loose {
        color: blue;
      }
    }
    @include expect {
      @media screen and (min-width: 901px) and (max-width: 1200px) {
        color: blue;
      }
    }
  }
  @include assert("full media width.") {
    @include output {
      @include full {
        color: yellow;
      }
    }
    @include expect {
      @media screen and (min-width: 1201px) {
        color: yellow;
      }
    }
  }
}
