@import "../../stylesheets/mixins/pillar_border";

@include test("@mixin pillar_border()") {
  @include assert("Show right.") {
    @include output {
      @include pillar_border(none, green solid 1px);
    }

    @include expect {
      border-right: green solid 1px;
    }
  }

  @include assert("Show left.") {
    @include output {
      @include pillar_border(green solid 1px);
    }

    @include expect {
      border-left: green solid 1px;
    }
  }

  @include assert("Show left and right.") {
    @include output {
      @include pillar_border(green solid 1px, red solid 2px);
    }

    @include expect {
      border-left: green solid 1px;
      border-right: red solid 2px;
    }
  }

  @include assert("Zero means no border.") {
    @include output {
      @include pillar_border(0, red solid 2px);
    }

    @include expect {
      border-right: red solid 2px;
    }
  }

  @include assert("Color means border.") {
    @include output {
      @include pillar_border(0, red);
    }

    @include expect {
      border-right: red;
    }
  }

  @include assert("0px means no border.") {
    @include output {
      @include pillar_border(0px, red);
    }

    @include expect {
      border-right: red;
    }
  }
}
