@import "../../stylesheets/mixins/sinner_toolbar";

@include test("@mixin sinner_toolbar()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include sinner_toolbar(4px, 3%);
    }

    @include expect {
      font-size: 100%;
      margin-bottom: 0;
      max-height: 36px;
      max-width: 36px;
      padding: 4px 3%;
      text-align: center;
    }
  }
}
