// Master for sinner styles
// Combine heaven and hell.
$sinners: sl-union($heaven, $hell); // Commarise the list as a css selector.
$sinners: sl-to-list($sinners, comma);

#{$sinners} {
  @include tight {
    // Default: no hanging for any sinners on a mobile.
    @include all_are_judged(100%, $personal-space, $god-space);
    display: block !important;
    float: none !important;
    text-align: left;
  }
  @include cosy {
    // More vertical spacing between sinners.
    margin-bottom: ($personal-space * 1.3) !important;
  }
  @include loose {
    // Even more vertical spacing between sinners.
    margin-bottom: ($personal-space * 1.6) !important;
  }
  @include full {
    // Tonnes of vertical spacing between sinners.
    margin-bottom: ($personal-space * 1.9) !important;
  }
}
